html, body {
height: 100%;
}

#html-section {
height: 100%;
scroll-behavior: smooth;    
}

#javascript-section {
height: 100%;
scroll-behavior: smooth;
}

#CSS-section {
height: 100%;
scroll-behavior: smooth;
}

#tool-section {
height: 100%;
scroll-behavior: smooth;    
}